<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css" class="sty">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>AAU Statistics</h1>
  <nav>
  <img src="https://easydrawingguides.com/wp-content/uploads/2018/05/how-to-draw-a-basketball-featured-image-1200.png" class="login">
  
  <% if (user) { %>
    <a href="players"	<%- title === 'Add Player' ? 'class="active"' : '' %>>
		ADD PLAYER</a>
    <a href="/statistics/new" <%- title === 'Add Team' ? 'class="active"' : '' %>>ADD TEAM</a>
    <a href="/logout">LOG OUT</a>
  <% } else { %>
    <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
  <% } %>
</nav>