<%- include('../partials/header') %>

    <form action="/teams" method="GET">
        <input type="text" name="teamName">
        <input type="submit" value= "Add Team">  
    </form>


<%- include('../partials/footer') %>