body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  height: 20px;
}

.login {
  display: flex;
  justify-content: start;
  flex-direction: row,

}

img {
  height: 50px;
  width: 50px;
  
}

h1 {
  display: center;
}
