<%- include('../partials/header') %>

  <ul>
    <% teams.forEach(function(t) { %>
      <li>
        <a href="/teams/new<%= t.id %>">detail</a>
          - 
          <%= t.content %>
         
      </li>
    <% }); %>
  </ul> 

  <% if (user) { %>
    <label>Points:</label>
    <textarea name="content"></textarea>
    <label>Rebounds:</label>
    <textarea name="content"></textarea>
    <label>Assists:</label>
    <textarea name="content"></textarea>
    </select>
    <input type="submit" value="Update Statistics">
  <%}%>

<%- include('../partials/footer') %>