<%- include('../partials/header.ejs') %>
<table>
  <thead>
    <tr>
      <th>Teams</th>
    </tr>
  </thead>
  <form action="/teams" method="POST">
    <input type="text" name="content">
    <input type="submit" value= "Add Team">  
</form>

  <%- include('../partials/footer.ejs') %>
  