<%- include('../partials/header.ejs') %>
<table>
  <thead>
    <tr>
      <th>Teams</th>
    </tr>
  </thead>

<% if (user) { %>
      <label>Points:</label>
      <textarea name="content"></textarea>
      <label>Rebounds:</label>
      <textarea name="content"></textarea>
      <label>Assists:</label>
      <textarea name="content"></textarea>
      </select>
      <input type="submit" value="Update Statistics">
    </form>
  <!-- Add the line below -->
  <% } %>